.constant-assignment,
.constant-assignment-start {
  display: flex;
}

.constant-assignment-name {
  color: var(--constant-name);
  font-weight: bold;
  margin-right: var(--same-line-spacing);
}

.constant-assignment-equal-sign {
  color: var(--constant-equal-sign);
  margin-right: var(--same-line-spacing);
}
