.function-call-name {
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
}

.function-call-name,
.function-call-name:active {
  color: var(--function-call-color);
}

.function-call-name:hover {
  text-decoration: underline;
}

.function-call-name.std-library {
  color: var(--std-library-color);
}
