:root {
  --base-03: #002b36;
  --base-02: #073642;
  --base-00: #657b83;
  --base-2: #eee8d5;
  --base-3: #fdf6e3;
  --base-1: #93a1a1;
  --link: #268bd2;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--base-3);
  color: var(--base-02);
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
}

button:active {
  color: inherit;
}
