:root {
  --base-03: #002b36;
  --base-02: #073642;
  --base-00: #657b83;
  --base-2: #eee8d5;
  --base-3: #fdf6e3;
  --base-1: #93a1a1;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
  --magenta: #d33682;
  --violet: #6c71c4;
  --yellow: #b58900;

  /* Colors */

  --editor-background: var(--base-3);
  --editor-color: var(--base-02);

  --code-block-background: var(--base-3);
  --code-block-box-shadow: var(--base-1);
  --code-block-header: var(--base-03);
  --code-block-header-background: var(--base-2);
  --code-block-body: var(--base-00);

  --keyword-color: var(--green);
  --function-call-color: var(--blue);
  --std-library-color: var(--cyan);

  --assignment-name: var(--violet);
  --assignment-equal-sign: var(--base-1);

  --assignment-color-value: var(--magenta);
  --assignment-color-boolean: var(--yellow);
  --assignment-color-number: var(--magenta);
  --assignment-color-string: var(--cyan);


  /* Spacing */

  --same-line-spacing: 0.25em;
  --nested-spacing: 1em;
}
