.code-block {
  background-color: var(--code-block-background);
  box-shadow: 3px 3px 6px -4px var(--code-block-box-shadow);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 14px;
  margin-right: 0.5rem;
}

.code-block-header {
  color: var(--code-block-header);
  background-color: var(--code-block-header-background);
  display: flex;
  font-size: 1rem;
  padding: 0.3em;
}

.code-block-name {
  margin-right: 0.6rem;
}

.code-block-close {
  font-family: sans-serif;
  font-size: 0.7rem;
  margin-top: -0.2rem;
}

.code-block-body {
  color: var(--code-block-body);
  padding: 0.3em;
}

.function-call {
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
}

.function-call, .function-call:active {
  color: var(--function-call);
}

.function-call:hover {
  text-decoration: underline;
}

.function-call.std-library {
  color: var(--std-library);
}

.constant {
  display: flex;
}

.constant-name {
  color: var(--constant-name);
  font-weight: bold;
  margin-right: 0.2rem;
}

.constant-equal-sign {
  color: var(--constant-equal-sign);
  margin-right: 0.2rem;
}

.constant-value {
  color: var(--constant-color-value);
}
