.code-block {
  background-color: var(--code-block-background);
  box-shadow: 3px 3px 6px -4px var(--code-block-box-shadow);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 14px;
  margin-right: 0.5rem;
}

.code-block-header {
  color: var(--code-block-header);
  background-color: var(--code-block-header-background);
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: 0.3em;
}

.code-block-name {
  margin-right: 0.6rem;
}

.code-block-menu {
  font-family: sans-serif;
  font-size: 0.7rem;
  margin-top: -0.2rem;
}

.code-block-body {
  color: var(--code-block-body);
  padding: 0.3em;
}

.keyword {
  color: var(--keyword-color);
}

.multiline-block {
  display: block;
}

.oneline-block {
  display: flex;
}

.oneline-block .nested {
  margin-left: var(--same-line-spacing);
  margin-right: var(--same-line-spacing);
}

.statement-block,
.statement-start,
.statement-body,
.statement-end {
  display: flex;
}

.statement-block-nested {
  display: block;
}

.statement-block-nested > .statement-body {
  margin-left: var(--nested-spacing);
}
