.code-block {
  background-color: var(--base-3);
  box-shadow: 3px 3px 6px -4px var(--base-1);
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  margin-right: 0.5rem;
}

.code-block-header {
  color: var(--base-03);
  background-color: var(--base-2);
  display: flex;
  padding: 0.3em;
}

.code-block-name {
  font-weight: 800;
  margin-right: 0.6rem;
}

.code-block-arguments {
  font-weight: normal;
}

.code-block-close {
  font-family: sans-serif;
  line-height: 0.6rem;
}

.code-block-body {
  color: var(--base-00);
  padding: 0.3em;
}